# Copy this file to .env and fill in your real values. Do NOT commit your .env file.
VITE_TMDB_API_KEY=

VITE_TMDB_POPULAR_URL=

VITE_TMDB_SEARCH_URL=

VITE_TMDB_IMAGE_BASE=

VITE_TMDB_GENRE_URL=

VITE_TMDB_DETAIL_URL=
